body {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    width: 100%;
}

.container {
    margin-left: 20px;
    margin-right: 0;
    width: 100%;
}

.input-field {
    margin-right: 15px !important;
    display: inline-block;
}

input {
    width: 95px !important;

    text-align: center;
}

#output {
    resize: none;
    border: 2px solid rgb(197, 197, 197);
    border-radius: 2px;
    padding: 5px;
    height: auto;
}

::placeholder {
    color: #000;
    text-align: center;
}

textarea {
    width: 555px;
}

.placeholder {
  color: #9E9E9E;
}
